<!-- TODO: Header? -->
<%- include('index/partials/unauthenticatedHeader') %>
<link rel="stylesheet" href="/styles.css" />

<div class="main-content">
    <h1>Sign Up</h1>
    <% if (typeof errorMessage !== 'undefined' && errorMessage) { %>
        <p class="error-message"><%= errorMessage %></p>
    <% } %>
    <form action="/signup" method="post" style="width: 300px;">
       
        <div class="form-input-container">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-input-container">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="action-button full-width">Sign Up</button>
    </form>
    <p style="font-size: 12px; margin-top: 30px;">
        Already have an account? 
        <a href="/login" class="register-link">Log in!</a>
    </p>
</div>

</body>
</html>
