<!-- TODO: Header? -->
<link rel="stylesheet" href="/styles.css" />
<%- include('partials/unauthenticatedHeader') %>
<div class="main-content">
    <h1>Welcome to the Voting App</h1>



    <div class="button-container">
        <a href="/signup" class="action-button">Signup</a>
        <a href="/login" class="action-button">Login</a>
    </div>

    <!-- added number of current polls to the home page -->
    <p>There are currently <%= totalPolls %> active polls.</p>
</div>
</body>
</html>
