<link rel="stylesheet" href="/styles.css" />
<nav class="navbar">
  <div class="nav-left">
    <a href="/" class="nav-item">Home</a>
    <a href="/login" class="nav-item">Log in</a>
    <a href ="/signup" class="nav-item">Sign up</a>
  </div>
  <div class="nav-right">
    <form action="/logout" method="POST" style="display: inline;">
      <button type="submit" class="nav-item logout-button">Log Out</button>
    </form>
  </div>
</nav>
